body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Slab', serif;
}
h1{
    font-size: 35px;
}
.color-highlight{
    color:#FA705B;
}
.welcome{
    font-size: 26px;
    margin-bottom: -15px;
}
.profession{
    font-size: 16px;
    margin-top: -25px;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 90%;
    padding: 10px 0px 0px 10px;
}
section{
    height: 500px;
    margin-bottom: 100px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.link-button{
    display: inline-block;
    text-decoration: none;
    font-weight: 700;
    color: #fff;
    background-image: linear-gradient(45deg, lightsalmon, tomato);
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 10px;
}
.dream{
    font-size: 25px;
    margin-bottom: 25px;
}
.dream-area{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.color-highlight2{
    color:#FA705B;
    margin-top: -18px;
}
.single-experience{
    box-shadow: 10px 10px 40px #808080;
    border-radius: 5px;
    height: 60%;
    background-color: #fff;
}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#full-stack{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, lightsalmon, tomato);
    border-image-slice: 1;
}
#baby-web{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, blue, cyan);
    border-image-slice: 1;
}
#contact-area{
    margin-top: -200px;
    margin-bottom: -100px;
}
.wrap-section{
	width: 960px;
	height: 263px;
	margin: 0 auto;
	padding: 10px;
	margin-top: 1px;
	margin-bottom: 1px;
}
.mark{
	background-color: #FA705B;
	color: #fff;
    padding: 2px;
}
.contact{
    float: left;
	width: 420px;
	padding: 20px;
	margin-left: 20px;
    margin-right: 25px;
    border-right: 1px solid #FA705B;
}
.contact h2{
	margin-left: 50px;
}
.query{
    float: right;
	width: 420px;
	padding: 20px;
	margin-right: -140px;
}
.query h2{
	margin-left: 60px;
}
input{
    width: 250px;
    height: 25px;
	padding: 2px;
	margin: 5px;
    border-radius: 3px;
	background: #fff;
}
.query3{
	padding:20px 2px 20px 2px;;
}
.submit{
    color: #FA705B;
    width: 100px;
    text-align: center;
    display: block;
    margin-top: 10px;
    margin-left: 75px;
    cursor: pointer;
    text-shadow: -1px 0px 0px #FA705B;
    border-radius: 5px;
    transition: 0.3s all ease;
}
.submit:hover{
    background-color: #FA705B;
    color: #fff;
}
input:focus{
	outline: none;
}
footer p{
    text-align: center;
    margin-top: -100px;
}